<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ if ne .Site.Title .Title }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{- partial "header.html" . -}}
  <div id="content">
  {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>
</html>
