<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ if ne .Kind "home" }}{{ .Title }} &middot; {{ end }}{{ site.Title }}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{- with (resources.Get "main.scss") }}
    {{- $style := resources.ToCSS . | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{- end }}
</head>

<body>
  {{ partial "navbar.html" . }}

  {{- block "header" . }}
  {{- end }}

  {{- block "main" . }}
    <main>
      {{- .Content }}
    </main>
  {{- end }}

  {{- if .IsNode }}
    <section id="posts">
      {{- block "posts" . }}
        <h3>Content</h3>
        {{- $pages := union .RegularPages .Sections }}
        {{- if .IsHome }}
          {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{- end }}
        <ol>
          {{- range $pages }}
            <li>
              <a href="{{ .Permalink }}">
                <article>
                  <h4>{{ .Title }}</h4>
                  {{- with .Summary }}
                    <p>{{ . | plainify | safeHTML }}</p>
                  {{- end }}
                  {{ partial "post_meta.html" . }}
                </article>
              </a>
            </li>
          {{- end }}
        </ol>
      {{- end }}
    </section>
  {{- end }}

  {{- partialCached "footer.html" . }}
</body>

</html>
