<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ if ne .Kind "home" }}{{ .Title }} &middot; {{ end }}{{ site.Title }}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{- end }}
</head>

<body>
  {{ partial "navbar.html" . }}

  {{- block "header" . }}
  {{- end }}

  <main>
    {{- block "main" . }}
      {{- .Content }}
    {{- end }}
  </main>

  {{- if .IsNode }}
    <section id="posts">
      {{- block "posts" . }}
        {{ partial "posts.html" . }}
      {{- end }}
    </section>
  {{- end }}

  {{- partialCached "footer.html" . }}
</body>

</html>
